<h1 mat-dialog-title>Product Detail</h1><hr>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Category : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12" style="display: inline-block;">
                        <p>{{data.categoryName}}</p>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Sub Category : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.subcategoryName}}</p>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Vendor : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.vendorName}}</p>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Manufacturer : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">  
                        <p>{{data.manufacturerName}}</p>
                    </div>
                </div>   
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Product Name : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.productName}}</p>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">UPC : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.upc}}</p> 
                    </div>
                </div>   
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Size : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.size}}</p>    
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Unit Weight : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.unitWeight}}</p>        
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Qty Per Unit : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.qtyPerUnit}}</p>  
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">Unit Price : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.unitPrice}}</p>  
                    </div>
                </div>     
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12">MSRP : </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.msrp}}</p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>MAP : </strong>  </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.map}}</p>  
                    </div>
                </div>   
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Sell Price : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.sellPrice}}</p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Discount : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.discount}}</p>  
                    </div>
                </div>    
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Units On Order :</strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.unitsOnOrder}}</p>  
                    </div>
                </div> 
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Units In Stock : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.unitsInStock}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Re-order Level :</strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.reorderLevel}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Discount Avail :</strong>  </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.discountAvail}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Pet Type : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.petType}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Direction : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.direction}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Additional Details : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.additionalDetails}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> Warranty : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.waranty}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong> More Info : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.moreInfo}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"> <strong> Status : </strong> </label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.status ? 'Active' : 'Inactive'}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Description :</strong></label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        <p>{{data.productDescription}}</p>  
                    </div>
                </div>  
                <div class="form-group">
                    <label for="category" class="control-label col-md-4 col-sm-4 col-xs-12"><strong>Images :</strong></label>
                    <div class="col-md-8 col-sm-8 col-xs-12"  style="display: inline-block;">
                        
                    </div>
                </div>  
            </div>
        </div>   
    </div>               
</div><hr>
<div mat-dialog-actions style="float: right">
    <button mat-button (click)="onNoClick()" class="btn btn-primary" [mat-dialog-close]="1">Cancel</button>
</div> 