<!-- Page Content -->
<div class="container-fluid" id="furr_header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="img/furrstruck_mark@2x.png" srcset="img/furrstruck_mark@2x.png 2x, img/furrstruck_mark@3x.png 3x" class="furrstruck_mark">
                <img src="img/furrstruck_logotype@2x.png" srcset="img/furrstruck_logotype@2x.png 2x, img/furrstruck_logotype@3x.png 3x" class="furrstruck_logotype" >
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="#" class="search-icon"><i class="fa fa-search" ></i></a>
                <input type="search" class="furr_search" placeholder="Search Furrstruck" name="search-furr">
            </div>
            <div class="col-xs-12 col-md-3">
                <div id="furr-bag">
                    <img class="furr-bag" src="img/noun_bag_1472325@2x.png" srcset="img/noun_bag_1472325@2x.png 2x, img/noun_bag_1472325@3x.png 3x">
                </div>
            </div>
          </div>
    </div>
</div>

<div class="container">
    <div class="row furr_breadcrumb">
        <div class="col-xs-12">
            <a href="#">PRODUCTS</a> 
            <img src="img/round-arrow_right-24px@2x.png" srcset="img/round-arrow-right-24-px@2x.png 2x, img/round-arrow-right-24-px@3x.png 3x" class="round-arrow_right-24px"> 
            <a href="#">CATS</a>
            <img src="img/round-arrow_right-24px@2x.png" srcset="img/round-arrow-right-24-px@2x.png 2x, img/round-arrow-right-24-px@3x.png 3x" class="round-arrow_right-24px"> 
            <a href="#">CAKE JELLY</a>
        </div>
    </div>

    <div class="row furr_details">
        <div class="col-xs-12 col-sm-8"><h1>CAKE JELLY I LOVE TART LEMON DROPS SWEET. SESAME SNAPS CAKE</h1></div>
        <div class="col-xs-12 col-sm-4">
            <div class="furr_list_price text-right"><h1>$22.22</h1><h3>$25.99</h3></div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="progress">
              <div class="progress-bar bg-furrbar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75 out of 100 recommend this</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-right">
            <div class="furr_details_options">
                <a href="#">
                    <div class="furr-tag">500g</div>
                </a>
                <a href="#">
                    <div class="furr-tag active">750g</div>
                </a>
                <a href="#">
                    <div class="furr-tag">1Kg</div>
                </a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="col-xs-12 col-md-6">
            <button class="furr-btn"><i class="fa fa-caret-down" ></i> REVIEWS</button>
            <button class="furr-btn"><i class="fa fa-caret-down" ></i> INGREDIENTS</button>
        </div>
        <div class="col-xs-12 col-md-6 text-right">
            <button class="furr-btn btn-purple"><i class="fa fa-heart" ></i></button>
            <button class="furr-btn btn-purple">ADD TO BAG</button>
            <button class="furr-btn btn-purple-invert">BUY NOW</button>
        </div>

        <div class="separator"></div>
    </div>

    <div class="row furr_product_main">
      <div class="col-xs-12 col-md-6">
          <div id="furr-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#furr-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#furr-carousel" data-slide-to="1"></li>
              <li data-target="#furr-carousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/52451_MAIN._AC_SL1500_V1509571098_@2x.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="img/52451_MAIN._AC_SL1500_V1509571098_@2x.png" alt="">
              </div>
              <div class="carousel-item">
                <img src="img/52451_MAIN._AC_SL1500_V1509571098_@2x.png" alt="">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#furr-carousel" data-slide="prev">
              <button class="furr-btn"><i class="fa fa-caret-left" ></i></button>
            </a>
            <a class="carousel-control-next" href="#furr-carousel" data-slide="next">
              <button class="furr-btn"><i class="fa fa-caret-right" ></i></button>
            </a>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 product-description">
        <label>About the product</label>
        Tart toffee jelly beans lollipop bear claw dragée tootsie roll apple pie. Sugar plum cupcake macaroon sweet roll halvah tootsie roll chocolate. Jelly beans pastry candy canes macaroon icing. Powder donut biscuit dessert dessert cotton candy apple pie pastry bear claw. <a href="#">Read more.</a>
      </div>


        <div class="separator"></div>

        <a href="#"><div class="furr-tag">product tag</div></a>
        <a href="#"><div class="furr-tag">product tag</div></a>
        <a href="#"><div class="furr-tag">product tag</div></a>
        <a href="#"><div class="furr-tag">product tag</div></a>
        <a href="#"><div class="furr-tag">product tag</div></a>
        <div class="separator"></div>
    </div>

    <div class="row furr_reviews">
        <div class="col-xs-12 col-md-3">
          <div class="furr-filters">
           <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Description
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Reviews
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Nutritional Info
              </label>
            </div> 
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Ingredients
              </label>
            </div> 
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Feeding Instructions
              </label>
            </div> 
          </div> 
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row">
              <div class="col-xs-12 col-sm-6"><h1>REVIEWS</h1></div>
              <div class="col-xs-12 col-sm-6 text-right"><button class="furr-btn btn-purple-invert">WRITE A REVIEW</button></div>
              <div class="separator"></div>
              <button class="furr-btn">RELEVANCE</button>
              <button class="furr-btn btn-purple">MOST RECENT</button>
              <button class="furr-btn">POSITIVE</button>
              <button class="furr-btn">CRITICAL</button>
              <div class="separator"></div>
              <div class="col-xs-12 col-sm-6 col-md-6">

                <!-- start of top positive box -->

                <div class="top-positive-box">
                  <label>Top Positive Review</label>
                  Cupcake ipsum dolor. Sit amet donut apple pie donut. Brownie marshmallow I love chocolate bar I love chocolate bar muffin.
                  <div class="separator"></div>
                  <div class="row review_avatar">
                    <div class="col-xs-2 col-sm-2 col-md-2"><img src="img/NoPath - Copy (8)@2x.png" class="NoPath---Copy-8"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4"><h4>Name Here</h4><h5>Jun 3rd</h5></div>
                    <div class="col-xs-6 col-sm-6 col-md-6"><div class="btn-recommends">RECOMMENDS THIS</div></div>
                  </div>
                  <div class="positive-box-bottom">
                    <div class="row">
                      <div class="col-xs-8 col-sm-8 col-md-8">24 people found this helpful</div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <button class="furr-btn helpful-yes"><i class="fa fa-thumbs-up" ></i></button>
                        <button class="furr-btn helpful-no"><i class="fa fa-thumbs-down" ></i></button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- end of top positive box -->

                <!-- start of default review box -->

                <div class="review-entry-box">
                  Cupcake ipsum dolor. Sit amet donut apple pie donut. Brownie marshmallow I love chocolate bar I love chocolate bar muffin.<a href="#">Read more</a>
                  <div class="separator"></div>
                  <div class="review_avatar_icons">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                  </div>
                  <div class="separator"></div>
                  <div class="row review_avatar">
                    <div class="col-xs-2 col-sm-2 col-md-2"><img src="img/NoPath - Copy (8)@2x.png" class="NoPath---Copy-8"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10"><h4>Name Here</h4><h5>Jun 3rd</h5></div>
                  </div>
                  <div class="separator"></div>
                  <div class="review-box-bottom">
                    <div class="row">
                      <div class="col-xs-8 col-sm-8 col-md-8">Did you find this useful?</div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <button class="furr-btn helpful-yes"><i class="fa fa-thumbs-up" ></i></button>
                        <button class="furr-btn helpful-no"><i class="fa fa-thumbs-down" ></i></button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- end of default review box -->
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">

                <!-- start of negative box -->

                <div class="top-negative-box">
                  <label>Top Negative Review</label>
                  Cupcake ipsum dolor. Sit amet donut apple pie donut. Brownie marshmallow I love chocolate bar I love chocolate bar muffin.
                <div class="separator"></div>
                <div class="review_avatar_icons">
                <img src="img/anna-nesterova-785840-unsplash@2x.png">
                <img src="img/anna-nesterova-785840-unsplash@2x.png">
                <img src="img/anna-nesterova-785840-unsplash@2x.png">
                </div>
                <div class="separator"></div>
                  <div class="row review_avatar">
                    <div class="col-xs-2 col-sm-2 col-md-2"><img src="img/NoPath - Copy (8)@2x.png" class="NoPath---Copy-8"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4"><h4>Name Here</h4><h5>Jun 3rd</h5></div>
                    <div class="col-xs-6 col-sm-6 col-md-6"><div class="btn-recommends">RECOMMENDS THIS</div></div>
                  </div>
                  <div class="negative-box-bottom"><div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8">55 people found this helpful</div>
                    <div class="col-xs-4 col-sm-4 col-md-4"><button class="furr-btn helpful-yes"><i class="fa fa-thumbs-up" ></i></button><button class="furr-btn helpful-no"><i class="fa fa-thumbs-down" ></i></button></div>
                  </div></div>
                </div>

                <!-- end of negative box -->


                <!-- start of default review box -->

                <div class="review-entry-box">
                  Cupcake ipsum dolor. Sit amet donut apple pie donut. Brownie marshmallow I love chocolate bar I love chocolate bar muffin.<a href="#">Read more</a>
                  <div class="separator"></div>
                  <div class="review_avatar_icons">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                    <img src="img/anna-nesterova-785840-unsplash@2x.png">
                  </div>
                  <div class="separator"></div>
                  <div class="row review_avatar">
                    <div class="col-xs-2 col-sm-2 col-md-2"><img src="img/NoPath - Copy (8)@2x.png" class="NoPath---Copy-8"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10"><h4>Name Here</h4><h5>Jun 3rd</h5></div>
                  </div>
                    <div class="separator"></div>
                    <div class="review-box-bottom">
                      <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">Did you find this useful?</div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <button class="furr-btn helpful-yes"><i class="fa fa-thumbs-up" ></i></button>
                          <button class="furr-btn helpful-no"><i class="fa fa-thumbs-down" ></i></button>
                        </div>
                      </div>
                    </div>
                </div>

                <!-- end of default review box -->
              </div>
          </div>
          <div class="loadmore text-center"><button class="furr-btn btn-purple">LOAD MORE</button></div>
          <div class="separator"></div>
        </div>
    </div>
</div>
