<div class="container-fluid" id="furr_header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="assets/img/furrstruck_mark@2x.png"
                     srcset="assets/img/furrstruck_mark@2x.png 2x, assets/img/furrstruck_mark@3x.png 3x"
                     class="furrstruck_mark">
                <img src="assets/img/furrstruck_logotype@2x.png"
                     srcset="assets/img/furrstruck_logotype@2x.png 2x, assets/img/furrstruck_logotype@3x.png 3x"
                     class="furrstruck_logotype">
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                <input type="search" class="furr_search" #box placeholder="Search Furrstruck" name="search-furr" (keyup.enter)="searchProduct(box.value)">
            </div>
            <div class="col-xs-12 col-md-3">
                <div id="furr-bag">
                    <img class="furr-bag" src="assets/img/noun_bag_1472325@2x.png"
                         srcset="assets/img/noun_bag_1472325@2x.png 2x, assets/img/noun_bag_1472325@3x.png 3x">
                </div>
            </div>
        </div>
    </div>
</div>

